[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
title_config = "C2HryYkBKeoc4KE2RJ6au1oXc1jtKeKw3zrknQ455JQN"

[programs.devnet]
title_config = "C2HryYkBKeoc4KE2RJ6au1oXc1jtKeKw3zrknQ455JQN"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
